body{
    margin: 0 100px;
    background-color:#ffeac0;
}
.header{
    width: 100%;
    box-shadow: 0 15px 40px -20px rgb(40 44 63 / 15%);
    position: fixed;
    top:0;
    left:0;
    right:0;
    height:80pz;
    z-index: 1000;
    padding: 0 20px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:30px 10px;
}

.logo{
    width:80px;
    height:80px;
}

.nav-items{
    padding: 0px 90px;
}

.header ul{
    font-size:22px;
    display:flex;
    list-style:none;
    justify-content:space-between;
    align-items: center;
}

.header ul li{
    margin-right:30px;
    padding:30px;
}

.logo-sec{
    justify-content: space-between;
    padding: 0 90px;
    margin-left: 90px;
}

/* .header ul .nav-items :hover::after{
    content: '';
    width: 50%;
    height: 3px;
    background-color: #ff511c;
    display: flex;
    position: relative;
    margin-left:10px;

} */

.chart-logo{
    width:40px;
    height: 10%;

}

.search{
    padding: 22px;
}

.res-card{
    width:20%;
    /* height: 20%; */
    background:#ffffffff;
    position: relative;
    object-fit: contain;
    padding:5px;
    border-radius:10px;
    border: 1px solid #faad96;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  
    
}

 .res-card .res-img{
    width:100%;
    height: 40%;
    border-radius: 20px;

}

.res-card .res-about{
    width:90%;
    height:50fr;
    position:relative; 
    padding:10px;
   
}

h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size:21px;
}

.res-card:hover{
    background:#c6ada4;
    cursor:pointer;
}

.res-container{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
}

.filter-btn{
    margin: 10px;
    cursor:pointer;
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card{
    width: 200px;
    height:200px;
    height: 400px;
    background-color: #c6ada4;

}
