body {
    margin: 100px 80px;
    background-color: #ffeac0;
}
.body {
    margin: 0 20px;
}
.header {
    width: 100%;
    /* box-shadow: 0 15px 40px -20px rgb(40 44 63 / 15%); */
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    /* right:0; */
    /* height: 20px; */
    padding: 0px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f8dfdf;
}

.logo {
    width: 80px;
    height: 80px;
}

.nav-items {
    margin: 0px 10px;
    padding: 0px 10px;
}

.nav-items {
    font-size: 22px;
    display: flex;
    gap: 30px;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    margin-right: 100px;
}

.filter-btn {
    margin: 20px;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 10px;
    border: 1px black solid;
}

/* .header ul .nav-items :hover::after{
    content: '';
    width: 50%;
    height: 3px;
    background-color: #ff511c;
    display: flex;
    position: relative;
    margin-left:10px;

} */

.chart-logo {
    width: 40px;
    height: 10%;
}

.search {
    padding: 22px;
}

.res-card {
    width: 200px;
    height: 350px;
    /* height: 20%; */
    background: #ffffffff;
    /* position: relative; */
    object-fit: contain;
    padding: 5px;
    border-radius: 15px;
    border: 1px solid #faad96;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
}

.res-img {
    width: 100%;
    height: 40%;
    border-radius: 10px;
    object-fit: cover;
}

.res-about {
    width: 90%;
    height: 60%;
    /* position:relative;  */
    padding: 5px;
}

.text-center {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 21px;
}

.truncate {
    width: 90%; /* or any fixed width */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.res-details{
    justify-content: space-around;
}

.flex{
    display: flex;
}

.flex-center{
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.res-card:hover {
    background: #c6ada4;
    cursor: pointer;
}

.res-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.shimmer-container {
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card {
    width: 200px;
    height: 200px;
    height: 400px;
    background-color: #c6ada4;
}
